<h1> Items Sold </h1>

<% if @products == [] %>
  <center> <h3> You have not sold any products </h3> </center>
<% else %>
  <div>
    <table class= "table table-bordered" style="width:100%">
      <tr>
        <th>Product Title</th>
        <th>Price</th> 
        <th>Image</th>
        <th>Shipping Address</th>
        <th>Date of Sale</th>
      </tr>
      <% @products.each do |item| %>
        <tr>
          <td> <%= item.title %> </td>
          <td> <%= number_to_currency(item.price) %> </td>
          <td><img class="selling-pic", <%= image_tag url_for(item.product_image_1) %> </td>
          <td>
            <% @items_orders.each do |item_order| %>
              <% if item.id == item_order.product_id %>
                <% @orders.each do |order| %>
                  <% if order.id == item_order.order_id %>
                    <%= order.name %>
                    <br>
                    <%= order.street %>
                    <br> 
                    <%= order.city %>
                    <br>
                    <%= order.state %>
                    <br>
                    <%= order.zip %>
                  <% end %>  
                <% end %>
              <% end %>
            <% end %>




         
          </td>
          <td> <%= item.updated_at %> </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
