<div class="container">
  <h1> Products For Sale </h1>
    
  <%= form_tag products_path, method: :get do %>
    <p>
    Search <%= text_field_tag :product_search, params[:product_search], placeholder: "Search Items" %>
    <%= submit_tag 'Search', :name => nil %>
    </p>
  <% end %>

  <% if flash[:fail] %>
    <div class="fail-flash-message"><%= flash[:fail] %></div>
  <% elsif flash[:success] %>
    <div class="success-flash-message"><%= flash[:success] %></div>
  <% end %>

  <% if @products.any? %>
    <div class="row">
      <% @products.each do |item| %>
        <div class="col-md-3 col-sm-6" id="product-id-<%= item.id %>">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src= "<%= item.picture_url %>" >
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#"><%= item.title %> </a></h3>
              <div class="price">
                <%=  number_to_currency(item.price) %>
              </div>
              <% if @user == nil %>
                <%= button_to "Add To Cart", new_user_session_path, id: "add_#{item.id}_to_cart" %>
              <% else %>
                <p>
                <%= form_for(@add_product) do |f| %>
                  <%= f.hidden_field :product_id, value: item.id, id: "data-product-id-#{@add_product.id}" %>
                  <%= f.hidden_field :user_id, value: @user.id %>
                  <%= f.submit "Add To Cart", id: "add_#{item.id}_to_cart"%>
                <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>  
      <% end %>  
    </div>
  <% end %>
</div>
