<% if flash[:fail] %>
    <div class="fail-flash-message"><%= flash[:fail] %></div>
<% elsif flash[:success] %>
    <div class="success-flash-message"><%= flash[:success] %></div>
<% end %>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link href="http://cdn.shopify.com/s/files/1/0067/5617/1846/t/2/assets/timber.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<div class="wrapper">
    <main>
        <div id="shopify-section-product-template" class="shopify-section">
            <div class="single-product-area mt-80 mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-details-large" id="ProductPhoto">
                            <% if @product.product_image_1.attached? %> 
                                <img id="ProductPhotoImg" class="product-zoom" data-image-id="" alt="12. Aliexpress dropshipping by oberlo" data-zoom-image=  src= <%= image_tag url_for(@product.product_image_1) %>
                            <% end %>
                            </div>
                            <div id="ProductThumbs" class="product-thumbnail owl-carousel">
                                <a class="product-single__thumbnail " href="<%=@product.product_image_2%>" 
                                data-image="<%=@product.product_image_2%>" data-zoom-image="<%=@product.product_image_2%>" data-image-id="6995358023750">
                                <%= image_tag url_for(@product.product_image_2) %> </a>
      
                                <a class="product-single__thumbnail " href="<%=@product.product_image_3%>" 
                                data-image="<%=@product.product_image_3%>" data-zoom-image="<%=@product.product_image_3%>" data-image-id="6995358023750">
                                <%= image_tag url_for(@product.product_image_3) %> </a>
      
                                <a class="product-single__thumbnail ">
                                <%= image_tag url_for(@product.product_image_1) %> 
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="single-product-content">
                                <form method="post" id="AddToCartForm" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data">
                                    <input type="hidden" name="form_type" value="product" /><input type="hidden" name="utf8" value="✓" />
                                    <div class="product-details">
                                        <h1 class="single-product-name"><%= @product.title %></h1>
                                        <div class="single-product-reviews">
                                            <span class="shopify-product-reviews-badge" data-id="1912078270534"></span>
                                        </div>
                                        <div class="single-product-price">
                                            <div class="product-discount"><span  class="price" id="ProductPrice"><span class=money><%= number_to_currency(@product.price) %></span></span></div>
                                        </div>
                                        <div class="product-info"><%= @product.description %></div>
                      
                                        <div class="single-product-action">
                                            <div class="product-variant-option"> 
                                                <select name="id" id="productSelect" class="product-single__variants" style="display:none;">   
                                                    <option  selected="selected"  data-sku="YQT71020193" value="19506517377094">Default Title - <span class=money>$20.66 USD</span></option>
                                
                                                </select>
                                            </div>
                                            <style>.product-variant-option .selector-wrapper{display: none;}</style>
                                            <div class="product-add-to-cart">
                                                <% if @user == nil %>
                                                    <%= link_to "Add To Cart", new_user_session_path, id: "add_#{@product.id}_to_cart", class: "btn btn-primary btn-lg" %>
                                                <%elsif ProductsUser.where(product_id: @product.id, user_id: current_user.id) != []%>
                                                <div class"remove">
                                                    <td>
                                                        <%= link_to "Remove from Cart", delete_products_users_path(@product.id), method: :delete, class: "btn btn-primary btn-lg"%>
                                                    </td>
                                                </div>
                                                <% else %>
                                                <div class="add">
                                                    <%= link_to " Add To Cart", products_users_path( products_user: { :user_id => current_user.id , :product_id => @product.id } ), :method => :post, class: "btn btn-primary btn-lg" %>
                                                </div>
                                                <% end %>
                                            </div>
                                            <div class="secure-payment"><img src="http://cdn.shopify.com/s/files/1/0067/5617/1846/files/guaranteed_safe_checkout1.png?v=1545216773"></div>                                                                  
                                        </div>                                                        
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style type="text/css">.product-details .countdown-timer-wrapper{display: none !important;}</style>
                                            
            <script>$(document).ready(function() {$('.fancybox').fancybox();});</script>
            <script>function productZoom(){
                    $(".product-zoom").elevateZoom({
                      gallery: 'ProductThumbs',
                      galleryActiveClass: "active",
                      zoomType: "inner",
                      cursor: "crosshair"
                    });$(".product-zoom").on("click", function(e) {
                      var ez = $('.product-zoom').data('elevateZoom');
                      $.fancybox(ez.getGalleryList());
                      return false;
                    });
                    
                    };
                  function productZoomDisable(){
                    if( $(window).width() < 767 ) {
                      $('.zoomContainer').remove();
                      $(".product-zoom").removeData('elevateZoom');
                      $(".product-zoom").removeData('zoomImage');
                    } else {
                      productZoom();
                    }
                  };
                  productZoomDisable();
                  $(window).resize(function() {
                    productZoomDisable();
                  });
            </script>
            <script>
                $('.product-thumbnail').owlCarousel({
                    loop: true,
                    center: true,
                    nav: true,dots:false,
                    margin:10,
                    autoplay: false,
                    autoplayTimeout: 5000,
                    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                    item: 3,
                    responsive: {
                        0: {
                            items: 2
                        },
                        480: {
                            items: 3
                        },
                        992: {
                            items: 3,
                        },
                        1170: {
                            items: 3,
                        },
                        1200: {
                            items: 3
                        }
                    }
                });
            </script>
        </div>
    </main>
</div>