<% if flash[:fail] %>
    <div class="fail-flash-message"><%= flash[:fail] %></div>
<% elsif flash[:success] %>
    <div class="success-flash-message"><%= flash[:success] %></div>
<% end %>

<br>
<br>
<br>

<div class="row">
  <div class="col-sm-8">
    <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <% if @product.product_image_1.attached? %> 
                    <%= image_tag url_for(@product.product_image_1), :class => "d-block w-100", :alt => "First slide" %>
                <% else %>
                    <img class="d-block w-100" src="https://www.remax-tresamigos-cr.com/sites/default/files/default_images/noimage.gif">
                <% end %>
            </div>
            <div class="carousel-item">
                <% if @product.product_image_2.attached? %> 
                    <%= image_tag url_for(@product.product_image_2), :class => "d-block w-100", :alt => "First slide" %>       
                <% else %>     
                    <img class="d-block w-100" src="https://www.remax-tresamigos-cr.com/sites/default/files/default_images/noimage.gif">
                <% end %>
            </div>
            <div class="carousel-item">
                <% if @product.product_image_3.attached? %> 
                    <%= image_tag url_for(@product.product_image_3), :class => "d-block w-100", :alt => "First slide" %>                 
                <% else %>     
                    <img class="d-block w-100" src="https://www.remax-tresamigos-cr.com/sites/default/files/default_images/noimage.gif">
                <% end %>    
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>
    <div class="col-sm-4">
        <div class="single-product-content">
            <div class="product-details">
                <h1 class = "show-title"><%= @product.title %></h1>
                <div class="show-product-price">
                    <h3><%= number_to_currency(@product.price) %></h3>
                </div>
                <br>
                <div class="details"> <%="Details"%> </div>
                <div class="product-info"> <%=@product.description%> </div>
                <br>
                <div> <b>Designer:</b> <%=Designer.find_by(id: @product.designer).designer%></div>
                <div> <b>Size:</b> <%=@product.size%></div>
                <br>
                <div class="product-add-to-cart">
                    <% if @user == nil %>
                        <%= link_to "Add To Cart", new_user_session_path, id: "add_#{@product.id}_to_cart", class: "btn btn-primary btn-lg" %>
                    <%elsif ProductsUser.where(product_id: @product.id, user_id: current_user.id) != []%>
                        <div class"remove">
                            <td>
                                <%= link_to "Remove from Cart", delete_products_users_path(@product.id), method: :delete, class: "btn btn-primary btn-lg"%>
                            </td>
                        </div>
                    <% else %>
                        <div class="add">
                            <%= link_to " Add To Cart", products_users_path( products_user: { :user_id => current_user.id , :product_id => @product.id } ), :method => :post, class: "btn btn-primary btn-lg" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
